#cocktail-photo {
	height: 250px;
	width: 250px;
	background-color: #E3E3E3;
	border: 0;
}

.modal-body {
	text-align: center;
}

.list-left {
	text-align: left;
}

.list-center {
	text-align: center;
}

.dropdown-menu {
	min-width: 150px;
}

#qtyDropdown {
	padding: 0;
}

.numbered {
	list-style-type: decimal;
}

.two-col-list a {
	color: #333;
	display: block;
    padding: 3px 10px;
}

.two-col-list:hover a {
	text-decoration: none;
    background-color: #f5f5f5;
}