<!DOCTYPE html>
<html ng-app="drinks">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Always After Five</title>
		<meta name="description" content="A website for your cocktails">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/node_mods/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/newDrink.css">
		<link rel="stylesheet" href="/css/main.css">


		<script src="/node_mods/angular/angular.js"></script>
		<script src="/node_mods/jquery/dist/jquery.min.js"></script>
		<script src="node_mods/jquery.scrollto/jquery.scrollTo.min.js"></script>
		<script src="/node_mods/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/node_mods/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
		<script src="/node_mods/ng-focus-if/focusIf.min.js"></script>
		<script type="text/javascript" src="/controllers/home-controller.js"></script>
		<script type="text/javascript" src="/directives/scroll-to.js"></script>
		
	</head>

	<body ng-controller="homeController">

		<header>
			<div>Title: {{title}}</div>
		</header>

		<p>Hello from alwaysafterfive.com!</p>

		<button type="button" class="btn">find drink</button>
		<button type="button" class="btn" ng-click="openNewDrinkModal()">add new drink</button>


	</body>
</html>