<div class="modal-body">

    <!--photo row -->
    <div class="row">
        <img id="cocktail-photo" src="img/cocktail-icon.png" class="img-circle center-block"></img>
    </div>

    <!--title row -->
    <div class="row">
        <h3>
            <input type="text" placeholder="drink name" class="text-center" ng-model="drinkName" ng-keypress="setDrinkName($event, drinkName)">
        </h3>
    </div>

    <!--equipment, ingredients, recipe row -->
    <div class="row">
        <div class="col-md-4">
            <!-- equipment view -->
            <div>
                <!-- add eqipment -->
                <h5>
                    <em>equipment</em>
                </h5>
                <div ng-repeat="tool in cocktail.equipment">
                    <ul>
                        <li class="list-left">{{tool}}</li>
                    </ul>
                </div>
                <div ng-show="showEquipmentTxtBox">
                    <input type="text" placeholder="equipment" focus-if="showEquipmentTxtBox" ng-model="currTool" ng-keypress="addEquipment($event, currTool)">
                </div>
                <div>
                    <button type="button" class="btn" ng-click="setShowEquipmentTxtBox(true)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> add tool
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <!-- ingredient view -->
            <div>
                <!-- add ingredient -->
                <h5>
                    <em>ingredients</em>
                </h5>
                <div ng-repeat="ing in cocktail.ingredients">
                    <ul>
                        <li class="list-left">{{ing.wholeNum + ' ' + ing.mixedNum + ' ' + ing.unit + ' ' + ing.name}}</li>
                    </ul>
                </div>
                <div ng-show="showIngredientTxtBoxes">
                    <!-- quantity display -->
                    <div ng-hide="qty.unit.length===0" class="col-md-4">{{qty.wholeNum + ' ' + qty.mixedNum + ' ' + qty.unit}}</div>
                    <!-- quantity dropdown -->
                    <div class="dropdown" ng-show="qty.unit.length===0">
                        <button class="btn btn-default pull-left" type="button" id="qtyDropdownMenu" ng-click="toggleQtyDropdown()">
                            quantity
                            <span class="caret"></span>
                        </button>
                        <!-- numbers -->
                        <ul class="custom-dropdown-menu" ng-show="showQtyDropdown">
                            <div class="col-md-3 no-padding n-col-list" id="wholeNumbersDiv">
                                <li class="list-center" ng-repeat="n in range(1,10)">
                                    <a id="qty-{{n}}" ng-class="{'blue-background' : currQty.wholeNum === n}" ng-click="selectQtyComponent($event, 'wholeNumbersDiv', 'wholeNum', n)">{{n}}</a>
                                </li>
                            </div>
                            <div class="col-md-3 no-padding n-col-list" id="fractionsDiv">
                                <li class="list-center" ng-repeat="frac in fractions">
                                    <a id="qty-frac-{{$index}}" ng-class="{'blue-background' : currQty.mixedNum === frac}" ng-click="selectQtyComponent($event, 'fractionsDiv', 'mixedNum', frac)">{{frac}}</a>
                                </li>
                            </div>
                            <div class="col-md-6 no-padding n-col-list" id="unitsDiv">
                                <li class="list-center" ng-repeat="unit in units">
                                    <a id="qty-{{unit}}" ng-class="{'blue-background' : currQty.unit === unit}" ng-click="selectQtyComponent($event, 'unitsDiv', 'unit', unit); addQty()">{{unit}}</a>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <input type="text" placeholder="ingredient" ng-model="currIngredient" ng-keypress="addIngredient($event, currIngredient)">
                </div>
                <div>
                    <button type="button" class="btn" ng-click="setShowIngredientTxtBoxes(true)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> add ingredient
                    </button>
                </div>
            </div>
        </div>
            
        <div class="col-md-4">
            <!-- recipe view -->
            <div>
                 <!-- add recipe -->
                <h5>
                    <em>recipe</em>
                </h5>
                <div>
                    <ol>
                        <li class="list-left" ng-repeat="step in cocktail.recipe">{{step}}</li>
                    </ol>
                </div>
                <div ng-show="showRecipeTxtBox">
                    <input type="text" placeholder="add step" focus-if="showRecipeTxtBox" ng-model="currStep" ng-keypress="addStep($event, currStep)">
                </div>
                <div>
                    <button type="button" class="btn" ng-click="setShowRecipeTxtBox(true)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> add step
                    </button>
                </div>
            </div>

        </div>
                
    </div>
</div>
<div class="modal-footer" ng-show="readyForReview()">
    <button class="btn btn-primary" type="button" ng-click="ok()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
